<footer class="ecl-footer-harmonised--group2 ecl-footer-harmonised">
  <div class="ecl-container ecl-footer-harmonised__container">
    <div class="ecl-footer-harmonised__section ecl-footer-harmonised__section1"><a
        href="https://ec.europa.eu/info/index_en"
        class="ecl-footer-harmonised__title ecl-link ecl-link--standalone">European Commission</a></div>
    <div class="ecl-footer-harmonised__section ecl-footer-harmonised__section2">
      <ul class="ecl-footer-harmonised__list">
        <li class="ecl-footer-harmonised__list-item"><a
            href="https://ec.europa.eu/info/about-european-commission/contact_en"
            class="ecl-footer-harmonised__link ecl-link ecl-link--standalone">Contact the European Commission</a></li>
        <li class="ecl-footer-harmonised__list-item"><a
            href="https://europa.eu/european-union/contact/social-networks_en"
            class="ecl-footer-harmonised__link ecl-link ecl-link--standalone ecl-link--icon ecl-link--icon-after"><span
              class="ecl-link__label">Follow the European Commission on social media</span>&nbsp;<svg focusable="false"
              aria-hidden="true" class="ecl-link__icon ecl-icon ecl-icon--xs">
              <use xlink:href="{{PUBLIC_URL}}/images/icons.svg#ui--external"></use>
            </svg></a></li>
        <li class="ecl-footer-harmonised__list-item"><a href="https://ec.europa.eu/info/resources-partners_en"
            class="ecl-footer-harmonised__link ecl-link ecl-link--standalone">Resources for partners</a></li>
      </ul>
    </div>
    <div class="ecl-footer-harmonised__section ecl-footer-harmonised__section3">
      <ul class="ecl-footer-harmonised__list">
        <li class="ecl-footer-harmonised__list-item"><a href="https://ec.europa.eu/info/language-policy_en"
            class="ecl-footer-harmonised__link ecl-link ecl-link--standalone">Language policy</a></li>
        <li class="ecl-footer-harmonised__list-item"><a href="https://ec.europa.eu/info/cookies_en"
            class="ecl-footer-harmonised__link ecl-link ecl-link--standalone">Cookies</a></li>
        <li class="ecl-footer-harmonised__list-item"><a href="https://ec.europa.eu/info/privacy-policy_en"
            class="ecl-footer-harmonised__link ecl-link ecl-link--standalone">Privacy policy</a></li>
        <li class="ecl-footer-harmonised__list-item"><a href="https://ec.europa.eu/info/legal-notice_en"
            class="ecl-footer-harmonised__link ecl-link ecl-link--standalone">Legal notice</a></li>
      </ul>
    </div>
  </div>
</footer>
